.App {
  text-align: center;
  background-color: darkslategray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatrice {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen {
  height: 50px;
  width: 100%;
  background-color: lightseagreen;
  color: white;
  font-size: xx-large;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns button {
  cursor: pointer;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  height: 40px;
}

.numbers {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

.numbers button {
  width: 32%;
  background-color: cornflowerblue;
}

.numbers button:last-child {
  margin: 0 auto 5px;
}

.functions {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
}

.functions button {
  width: 100%;
  background-color: darkslateblue;
}


